asgiref==3.8.1
certifi==2024.8.30
cryptography==49.0.0
charset-normalizer==3.3.2

dj-rest-auth==7.2.0
Django==5.2.16
django-allauth==65.2.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8

idna==3.10
inflection==0.5.1
packaging==26.2
PyJWT==2.13.0
python-dotenv==1.0.1
pytz==2026.2
PyYAML==6.0.3
requests==2.32.3
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.2.3
whitenoise==6.7.0
